body{
background:#0f2027;
background:linear-gradient(to right,#2c5364,#203a43,#0f2027);
font-family:Arial,Helvetica,sans-serif;
}

/* hero section */

.hero{
background:url("https://images.unsplash.com/photo-1445205170230-053b83016050") center/cover;
padding:120px 0;
}

/* product card */

.product-card{
border:none;
border-radius:15px;
overflow:hidden;
transition:0.3s;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.product-card:hover{
transform:translateY(-10px);
}

.card-img-top{
height:300px;
object-fit:cover;
}

.price{
color:#ff5733;
font-size:20px;
font-weight:bold;
}

.footer{
background:black;
padding:20px;
margin-top:40px;
}